# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.o
*.a
*.so
*.dylib

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.prof

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# env file
.env
.env*

# Editor/IDE
.idea/
.vscode/

# binaries
/air
/gin-bin
/plato
/cmd/air
/cmd/gin-bin
/cmd/plato

# tmp folders
/tmp
/output
/rendered
/_fixtures/tmp
/_fixtures/output
/_fixtures/rendered
/_fixtures/combined/tmp
/_fixtures/combined/output
/_fixtures/combined/rendered

# logfiles
*.log

# archives
*.zip
*.tgz
*.gz
*.tar

# Added by goreleaser init:
dist/
